{% extends "navbarbase.html" %}
{% block navcontent %}
{% if alert_type == "success" %}
    <div class="alert alert-success" role="alert">{{ alert }}</div>
{% elif alert_type == "failure" %}
    <div class="alert alert-danger" role="alert">{{ alert }}</div>
{% endif %}
<div class="jumbotron">
    <div class="container">
	<!-- Your Stuffs go here! -->
	<p>Student Plan Assistant (SPA) is a software engineering class project created by Ben Doan,
	Brock Lewis, Patrick Lynch, and James Percival. Our goal for this project was to create an
	easy-to-use application for students and advisors to create a viable future schedule for
	completing a degree. The user chooses the classes they have already completed and the 
	application generates their remaining requirements and electives.</p>
	<br>
	<p>SPA is written in Python using the Flask web framework. Flask uses a SQLite implementation
	for its persistent storage. It uses Bootstrap to drive the look and feel of the site through 
	CSS. </p>
    </div>
</div>

{% endblock %}
