{% extends "navbarbase.html" %}
{% block navcontent %}
{% if alert_type == "success" %}
    <div class="alert alert-success" role="alert">{{ alert }}</div>
{% elif alert_type == "failure" %}
    <div class="alert alert-danger" role="alert">{{ alert }}</div>
{% endif %}
<div class="jumbotron">
    <div class="container">
	<div>
    <select name='majorSelected' id='majorSelector'>
      {% if selectedMajor == 'None' %}<option value="None">Please Select Your Major</option>{%endif%}
      <option value="Computer Science" {% if selectedMajor == 'CS' %}selected{%endif%}>Computer Science</option>
      <option value="Management Information Systems" {% if selectedMajor == 'MIS' %}selected{%endif%}>Management Information Systems</option>
      <option value="Information Assurance" {% if selectedMajor == 'IA' %}selected{%endif%}>Information Assurance</option>
      <option value="Bioinformatics" {% if selectedMajor == 'BIOI' %}selected{%endif%}>Bioinformatics</option>
    </select>
    <br><br>
	</div>
	<!--TODO: Sort them so they are displayed in numerical order, probably need to be done server side
		Add functionality so the cut off is 4-5 rows of classes and the rest are searchable in some manner
	 -->
<!--Starts loop to add classes
	Hold onto your hats... this gets kind of hairy...
-->
	{% set courseBefore='startVal' %}
	{% set counter=0 %}
	{% set rowCounter=0 %}
	{% set ROW_MAX=4 %}
	{% for course in courses %}
		{% if courseBefore == 'startVal' %}
	<div class='blockClass'>
        <table class='table'>
                <thead class='ovrClass'>
                        <th>
                                <button type="button" onclick='buttonClicked(this)'>{{course.college}}</button>
                        </th>
                </thead>
                <tbody class='indClass'>
                        <tr>
		{% endif %}

		{% if courseBefore != course.college and courseBefore != 'startVal' %}
			{% set rowCounter=0 %}
			</tr>
                </tbody>
        </table>
        </div>

	<div class='blockClass'>
        <table class='table'>
                <thead class='ovrClass'>
                        <th>
                                <button type="button" onclick='buttonClicked(this)'>{{course.college}}</button>
                        </th>
                </thead>
                <tbody class='indClass'>
			<tr>
			{% set counter=0 %}
		{% endif %}
		{% if counter==4 %}
			{% if rowCounter != ROW_MAX %}
				{% set rowCounter=rowCounter+1 %}

			</tr>
			<tr>
			{% endif %}
			{% set counter=0 %}
		{% endif %}
		{% if rowCounter != ROW_MAX %}
				<td><button type="button" onclick='buttonClicked(this)'>{{course.number}}</button></td>
		{% endif %}
		{% set counter=counter+1 %}
		{% set courseBefore=course.college %}
	{% endfor %}
			 </tr>
                </tbody>
        </table>
        </div>
<!--Ends out the loop for the classes-->

    </div>
    <button type="button" class='finalSubmitButton' onclick='submitButtonClicked()'>Submit My Classes!</button>

</div>



<script type='text/javascript'>
	function buttonClicked(element)
	{
		if(element.className=='activeButton')
		{
			element.classList.remove('activeButton');
		}
		else
		{
			element.classList.add("activeButton");
		}
	}

	function submitButtonClicked()
	{
		var buttonsClicked = $('.activeButton');
		var data = {classes:[{}], options:[{}]};
		for(var i = (buttonsClicked.length - 1); i >= 0; i--)
		{
			$td = $($('.activeButton')[i]);
			var $th = $td.closest('table').find('th').eq($td.index());
			classHead=$th.prop('innerText');
			classNumber=$td.prop('innerText');
			if (!(data.classes[0].hasOwnProperty(classHead)))
			{
				data.classes[0][classHead]=[];
				data.classes[0][classHead].push(classNumber);
			}
			else
			{
				data.classes[0][classHead].push(classNumber);
			}
 	   	}
		data.options[0]['creditsLoad'] = '15';
		data.options[0]['majorSelected']=$('#majorSelector').val();

        var url = "/schedule";
        var data_for_html = encodeURIComponent(JSON.stringify(data))
        var form = $('<form action="' + url + '" method="post">' +
                    '<input type="text" name="user_history" value="' + data_for_html +
                    '" /></form>');
        $('body').append(form);
        form.submit()
	}

</script>
{% endblock %}
