{% extends "navbarbase.html" %}
{% block navcontent %}
{% if alert_type == "success" %}
    <div class="alert alert-success" role="alert">{{ alert }}</div>
{% elif alert_type == "failure" %}
    <div class="alert alert-danger" role="alert">{{ alert }}</div>
{% endif %}
<div class="jumbotron">
    <div class="container">
	{% if userSchedule %}
		<button type="button" class='finalSubmitButton btn btn-success' onclick='gotoSchedule()'>Look at my Schedule!</button>
	{% else %}
		<button type="button" class='finalSubmitButton btn btn-success' onclick='gotoScheduler()'>Make A Schedule!</button>
	{% endif %}
    </div>
</div>

<script type='text/javascript'>
	function gotoScheduler(){
		window.location.href = '/classSelector';
	}

	function gotoSchedule(){
		window.location.href = '/schedule';
	}
</script>

{% endblock %}
