{% extends "navbarbase.html" %}
{% block navcontent %}

<div class="container well">
    <!-- Example row of columns -->
    <div class="row">
        {% for semester in schedule %}
        <div class="table-responsive col-xs-6 col-sm-4 col-md-3">
            <h4>Semester {{ loop.index }}</h4>
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th>#</th>
                    <th>Class</th>
                    <th>Credits</th>
                </tr>
                {% for cls in semester %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><span data-container="body" data-toggle="popover" data-placement="top" data-content="{{ cls.course.title }}">{{ cls.course.ident }}</span></td>
                    <td>{{ cls.course.credits }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
